<nav class="navbar">
     <img src="/images/logo.png" alt="Logo" class="logo">


     <ul>
       
        <li><a href="/api/"><img src="/icons/home.svg" alt="Home">Inicio</a></li>
        <li><a href="/api/dashboard"><img src="/icons/icons8-hero-64.png" alt="Icono superheroes">Descubre los superheroes</a></li>
        <li><a href="/api/formulario/crear"><img src="/icons/icons8-superhero-64.png" alt="Crear">Crear nuevo</a></li>
        
     </ul>
</nav>
