
<section class="inicio">
   
   
   <div class ="container">
       
    <h1>Bienvenidos a mi p치gina web</h1>

        <p>Esta p치gina est치 dise침ada usando layouts en EJS con express-ejs-lauyouts</p>
   </div>
 

    <pre>


    </pre>
</section>