body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #5743b8;
    padding: 30px 20px;
    color: #3498db;
    text-align: center;
    justify-content: space-between;

}

.navbar .logo {
    width: 50px;
    margin-right: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar ul li img {
    width: 20px;
}
.inicio{
    background-image: url('/images/superhero-logos-958x575.png'); /* Ruta relativa o absoluta */
  
    background-size: cover;
    background-position: center;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 👈 Esto pone el contenido arriba */
    align-items: center;
  
    padding-top: 50px; /* Subís el texto con espacio arriba */
    color: white;
    text-align: center;
}
.container{
     
        max-width: 800px;
      
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #5743b8;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    color: white;
    font-size: 3rem;
    text-shadow:
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
  }